*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  min-height:100vh;
  background:url("bg.jpg") no-repeat center/cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

#div1{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

#f1{
  width:360px;
  padding:30px;
  border-radius:15px;
  background:white;
  backdrop-filter:blur(10px);
  box-shadow:0 8px 32px rgba(0,0,0,0.3);
  color:#fff;
}

#div1 h1{
  text-align:center;
  margin-bottom:25px;
  letter-spacing:2px;
}

#d2{
  position:relative;
  margin-bottom:25px;
}

#d2 input{
  width:100%;
  padding:10px 0;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:2px solid #fff;
  color:#fff;
  font-size:16px;
}

#d2 label{
  position:absolute;
  left:0;
  top:10px;
  color:#ddd;
  pointer-events:none;
  transition:0.3s;
}

#d2 input:focus + label,
#d2 input:valid + label
{
  top:-12px;
  font-size:12px;
  color:#fff;
}

#p1{
  display:flex;
  justify-content:space-between;
  font-size:13px;
  margin-bottom:20px;
}

#p1 a{
  color:#fff;
  text-decoration:none;
}

#button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:20px;
  background:bisque;
  color:#000;
  font-weight:bold;
  cursor:pointer;
}

#button:hover{
  background: lightblue;
}

#p2
{
  text-align:center;
  margin-top:15px;
  font-size:14px;
}

#p2 a{
  color:#fff;
  font-weight:bold;
  text-decoration:none;
}